#elem1 {
position: relative;
left: 40px;
top: 10px;
width: 100px;
height: 100px;
background-color: #FF8888;
}
#elem2 {
position: relative;
left: 80px;
top: -10px;
width: 100px;
height: 100px;
background-color: #7E89EB;
}
#elem3 {
position: relative;
left: 160px;
top: -30px;
width: 100px;
height: 100px;
background-color: #4DEE99;
}